PORT=3000
JWT_SECRET=db594cf759994ed7ae723f07d515ae48158c84b98aeee758d9f6d5378bca3c49
JWT_EXPIRE=7d
MONGODB_URI=mongodb://127.0.0.1:27017/fluentbuddy
GOOGLE_CLIENT_ID=642316539457-85tkdnekq9usbhucouqtgh5lo6kq05ju.apps.googleusercontent.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=raniachheylal24@navgurukul.org
SMTP_PASS=krfscdkcpwmprxdb
EMAIL_FROM="CollabSphere <raniachheylal24@navgurukul.org>"
GEMINI_API_KEY=AIzaSyAMZwOApMSFlgTPQE9J9O3awA0wsTSHd_Y
